* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B9CEB9;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
}

.wrapper {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

a {
    text-decoration: none;
}

header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    border-radius: 100px;
}

.logo {
    font-family: "Inknut Antiqua", serif;
    color: #047533;
    font-size: 1.25rem;

}

nav.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    cursor: pointer;
    font-size: 1rem;
}

.nav-links span:hover {
    cursor: pointer;
    color: #047533;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

div.search-btn {
    background-color: rgba(3, 244, 104, 0.4);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-right img:hover {
    cursor: pointer;
}

main {
    width: 50%;
    align-self: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;

}
 
.search-bar {
    display: flex;
    width: 100%;
    background-color: #FFF;
    border-radius: 50px;
    justify-content: space-between;
} 

input.search-box {
    padding: .5rem 2rem;
    outline: none;
    border: none;
    font-size: 1.25rem;
    border-radius: 50px;

}

.search-btn--sec {
    background-color:#03F468;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 150px;
    text-align: center;
    font-weight: 500;
}

div.search-res {
    background-color: #FFF;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 30px;
    width: 85%;
}

.search-res div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: .5rem;
}

.search-res span {
    color: rgba(0,0,0,.5);
}

.search-res div:hover {
    background-color: rgba(3, 244, 104, 0.3);
    cursor: pointer;
}


.search-section {
    display: flex;
    background-color: #FFF;
    border-radius: 30px;
    justify-content: space-between;
}


.s1 {
    width: 3px;
    height: 30%;
    background-color: #39905E80;
}

.scroll {
    display: flex;
    flex-direction: column;
    width: 3px;
    background-color: #9F9F9F80;
    border-radius: 50px;
    height: 180px;
    align-self: center;
    margin-right: 30px;
}

